.list-container {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0 0 8px 8px;
  padding: 1rem;
}

.list-container h2 {
  color: #8474a1;
  margin-bottom: 1rem;
  text-align: center;
}

.table-list {
  width: 100%;
}

.table-list th,
.table-list td {
  border-bottom: 1px solid #8474a1;
  padding: 0.25rem;
  text-align: center;
}

.edit-button {
  line-height: 50%;
}

.list-message {
  text-align: center;
}

.values-container {
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin-top: 1.5rem;
}

.values-container span {
  color: #08979d;
  font-size: 0.875rem;
  font-weight: 500;
}

@media (max-width: 450px) {
  .list-container h2 {
    font-size: 1.25rem;
  }

  .table-list {
    font-size: 0.7rem;
  }
}

@media (max-width: 345px) {
  .list-container {
    padding: 0.5rem;
  }
  .list-container h2 {
    font-size: 1rem;
  }

  .table-list {
    font-size: 0.6rem;
  }

  .values-container,
  .values-container span {
    font-size: 0.7rem;
  }
}
