* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

a {
  font-weight: 700;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #8474a1;
}
