.period-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.back-link {
  background-color: #ccabd8;
  border: 1px solid #a682b3;
  border-radius: 8px;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.06rem;
  margin: 1.5rem 0;
  padding: 0.4rem 0.8rem;
  text-align: center;
  text-decoration: none;
}

.back-link:hover {
  background-color: #8474a1;
  color: white;
}

.current-month-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.previous-button,
.next-button {
  color: #8474a1;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s;
}

.previous-button:hover,
.next-button:hover {
  transform: scale(1.2);
}

.month-title {
  color: #8474a1;
  text-align: center;
}

@media (max-width: 375px) {
  .back-link {
    font-size: 0.925rem;
    letter-spacing: normal;
    padding: 0.2rem;
  }
}
